<%- include ("head")%>
<%- include ("navbar")%>
<div class="col-md-5 m-auto border border-danger">
    <h2 class="fw-bold mb-2 text-uppercase">quotes</h2>
    <div class="d-flex justify-content-between">
        <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="link">Links <span>10</span></a>
            </div>
        </div>
        <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="link">Links <span>10</span></a>
            </div>
        </div>
        <div class="card mx-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="link">Links <span>10</span></a>
            </div>
        </div>
    </div>
</div>
<%- include ("footer")%>
