<%- include ("partials/head")%>
<%- include ("partials/navbar")%>
<!--Home-->
<div class="container-fluid position-absolute top-50 start-50 translate-meiddle text-center">
    <div class="register-login mt-5">
        <a class="btn btn-secondary" type="button" href="/signup">Signup</a>
        <a class="btn btn-dark ms-5" type="button" href="/login">Login</a>
    </div>
</div>
<%- include ("partials/footer")%>


